// Body
$body-bg: #f9f9fa;

// Colors
$light-blue: #aecad9;
$blue: #8cb0c3;
$dark-blue: #2e6481;
$anthracite: #434343;
$light-anthracite: #595a5a;
$dark-anthracite: #333333;
$grey: #f1f0f0;
$light-grey: #f9f9fa;
$dark-grey: #d8d8d8;
